<nav id="sidebar" class="js-sidebar">
	<div class="sidebar-content js-simplebar">
		<a class='sidebar-brand' href='index.html'>
			<span class="sidebar-brand-text align-middle">
				Items Dashboard
			</span>
		</a>


		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Pages
			</li>

			<li class="sidebar-item active">
				<ul id="pages" class="sidebar-dropdown list-unstyled collapse show" data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class='sidebar-link' asp-area="POS" asp-controller="Home" asp-action="Index">Items</a></li>
				</ul>
			</li>

		</ul>

	</div>
</nav>