@model List<ItemResponse>

<!-- Grid.js -->
<script type="module">
    import {
        Grid,
        html,
        h
    } from "https://unpkg.com/gridjs?module";

    const grid = new Grid({
        columns: ['Name', 'Description', 'Created', 'Updated', {
            name: 'Actions',
            formatter: (cell, row) => {
                return [
                    h('button', {
                        className: 'btn btn-secondary',
                        onClick: () => alert(`Editing ${row.cells[0].data}`)
                    }, 'Edit'),

                    h('button', {
                        className: 'btn btn-danger',
                        onClick: () => alert(`Deleting ${row.cells[0].data}`)
                    }, 'Delete')]
            }
        }],
        data: [
    @foreach (ItemResponse item in Model)
    {
        <text>
                ['@item.Name', '@item.Description', '@item.CreatedDate', '@item.UpdatedDate'],
        </text>
    }
            ],
        resizable: true,
        sort: true
    }).render(document.getElementById("grid-table"));
</script>

<div id="grid-table"></div>