@model List<ItemResponse>

<!-- Grid.js -->
<script type="module">
    import {
        Grid,
        html
    } from "https://unpkg.com/gridjs?module";

    const grid = new Grid({
        columns: ['Name', 'Description', 'Created', 'Updated'],
        data: [
    @foreach (ItemResponse item in Model)
    {
        <text>
                ['@item.Name', '@item.Description', '@item.CreatedDate', '@item.UpdatedDate'],
        </text>
    }
        ],
        resizable: true,
        sort: true
    }).render(document.getElementById("grid-table"));
</script>

<div id="grid-table"></div>